*{
    box-sizing: border-box;
    color: rgb(67, 67, 67);
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: linear-gradient(236deg ,rgb(58, 166, 193),rgb(251, 127, 148));
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(50);
    width: auto;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background: rgba(213, 215, 213, 0.182);
    backdrop-filter: blur(30px);
    box-shadow: 5px 5px 30px rgba(105, 103, 103, 0.446);
    width: 45vw;
    border-radius: 5px;
}

.form{
   padding: 2vw;
   /* border: 1px solid white; */
   border-radius: 1vw;
}

.form h1{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 10px;
    font-size: 4vw;
}

.form h1:hover{
    background: transparent;  
    color: gray;
    transition:  0.4s;
    letter-spacing: 5px;
}

label{
    color: rgb(110, 109, 109);
    margin: 5px;
    font-size: 1.5vw;
}

input{
    width: 100%;
    resize: vertical;
    padding: 1.5vw 1vw;
    margin:5px 0px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1vw;
}

input:focus{
    box-shadow: 1px 2px 5px rgba(73, 73, 73, 0.202);
   outline: none;
}

::placeholder{
    color: rgba(128, 128, 128, 0.718);
}

.forgotpswd{
    text-align: right;
    color: rgb(67, 67, 67);
    font-size: 1.3vw;
    margin-right: 5px;
}

.forgotpswd:hover{
    color:rgb(241, 240, 173);
    transition: 0.2s;
}

.btn{
    display: block;
    margin-inline: auto;
    padding: 5px;
    width: 80%;
    font-size: 2vw;
    background: rgb(213, 215, 213);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(213, 215, 213, 0.182);
    color: white;
}

.btn:hover{
    color: rgb(219, 96, 117);
    border: 2px solid rgb(255, 255, 255);
    transition: 0.4s;
    letter-spacing: 3px;
}

.loginoptions{
    text-align: center;
    color: white;
    font-size: 1.3vw;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook{
    width: 2.5vw;
}

.gmail{
    width: 2.5vw;
}

.twitter{
    width: 2.5vw;
}

.social p{
    margin-inline: 10px;
}

.icons:hover{
    translate: 0px -9px;
    transition: ease-in-out 0.4s;
    filter: drop-shadow(0px 3px 0px rgb(23, 23, 23));
    /* box-shadow: 0px 3px 0px rgb(74, 67, 67); */
}

@media screen and (min-width: 601px) and (max-width: 968px){
	body{
        background-image: linear-gradient(45deg ,rgb(70, 199, 231),pink);
        background-size: cover;
        background-repeat: no-repeat;
        backdrop-filter: blur(50);
        height: 100vh; 
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2vw;
    }
    .container{
        box-shadow: 5px 5px 30px rgba(105, 103, 103, 0.446);
        border-radius: 5px;
        width: 80%;
    }
    .form h1{
        font-size: 5vw;
    }

    label{
        font-size: 2.3vw;
    }
    
    .forgotpswd{
        font-size: 2vw;
    }

    .btn{
        font-size: 3vw;
    }

    .loginoptions{
        font-size: 3vw;
    }

    .facebook {
        width: 4.5vw;
    }

    .twitter {
        width: 4.5vw;
    }

    .gmail {
        width: 4.5vw;
    }
}

@media screen and (max-width : 600px) {
    .container{
        box-shadow: 5px 5px 30px rgba(105, 103, 103, 0.446);
        border-radius: 5px;
        width: 100%;
    }

    body{
        /* background-image: radial-gradient(45deg ,pink,rgb(70, 199, 231),pink); */
        background-size: cover;
        background-repeat: no-repeat;
        backdrop-filter: blur(50);
        height: 100vh; 
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2vw;
    }

    .form h1{
        font-size: 8vw;
    }

    label{
        font-size: 3.5vw;
    }
    
    .forgotpswd{
        font-size: 3vw;
    }

    .btn{
        font-size: 4vw;
    }

    .loginoptions{
        font-size: 4vw;
    }

    .facebook {
        width: 5.5vw;
    }

    .twitter {
        width: 5.5vw;
    }

    .gmail {
        width: 5.5vw;
    }
}
   
